{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Bienvenue sur votre Doctilob</h1>
    </div>

    {% if app.user %}
        {{ app.user.email }}
        <a href="{{ path('app_logout') }}"> Se déconnecter</a>
    {% else %}
        <a href="{{ path('app_login') }}"> Se connecter</a>
    {% endif %}

{% endblock %}
