{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Prescription list, patient</h1>
    </div>

    <div class="pharmacies">
        {{  include('patient/_pharmacyList.html.twig') }}
    </div>
{% endblock %}
