{% extends 'base.html.twig' %}

{% block title %}Edit Prescription{% endblock %}

{% block body %}
    <h1 class="my-5">Edit Prescription</h1>

    {{ include('prescription/_form.html.twig', {'button_label': 'Save prescription'}) }}

    {{ include('prescription/_delete_form.html.twig') }}
    </div>
{% endblock %}
