<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block navbar %}
            <div class="container-fluid d-flex justify-content-center my-4">
                {% if app.user %}
                        <a href="{{ path('app_logout') }}" class="btn btn-outline-secondary my-2 my-sm-0"> Se déconnecter</a>
                {% else %}
                        <a href="{{ path('app_login') }}" class="btn btn-outline-secondary my-2 my-sm-0"> Connexion</a>
                {% endif %}
            </div>
        {% endblock %}

        <main class="d-flex flex-column align-items-center">
            {% block body %}{% endblock %}
        </main>
        
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
